{% if site.google_tag_manager %}
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% endif %}
<nav class="navbar navbar-expand-md site-nav">
  <div class="container site-container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ '/favicon.ico' | relative_url }}" width="28" height="28" alt="">
      <span>{{ site.title | escape }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNav" aria-controls="siteNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="siteNav">
      <div class="navbar-nav ms-auto">
        <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
        {% for p in site.nav_pages %}
        {% if p.external %}
        <a class="nav-link" href="{{ p.url }}" target="_blank" rel="noopener">{{ p.name }}{% include icon.html name="external" %}</a>
        {% else %}
        <a class="nav-link{% if page.url == p.url %} active{% endif %}" href="{{ p.url | relative_url }}"{% if p.newtab %} target="_blank"{% endif %}>{{ p.name }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
